.special-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.top-image::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 450px;
background: rgba(0, 0, 0, 0.6);
z-index: 1;
}

.top-image .overlaytext {
position: absolute;
top: 25%;
left: 12%;
transform: translate(-50%);
color: white;
text-align: left;
z-index: 2;
}

.overlaytext button {
background-color: transparent;
width: 200px;
height: 40px;
border-radius: 50px;
color: white;
font-size: 1.1rem;
border-color:white;

}

.overlaytext button:hover {
background-color:tomato;
border-color: tomato;
}